*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #674bb1;
    max-width: 100%;
    width: 900px;
}
section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 39%;
    top: 145px;
}
section img{
    display: flex;
    position: relative;
    width: 500px;
    z-index: 1;
}
section h1{
    color: white;
    display:flex;
    position: relative;
    width: 50%;
    margin: 35px;
}
section .Sobre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    position: relative;
    width: 500px;
    z-index: 1;
     margin: 35px;
}
.btn1{
    background-color: white;
    border-color: white;
    box-shadow:1px 1px 1px black;
    color: #674bb1;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
}
.logo {
display: flex;
position: relative;
bottom: 325px;
left: 30%;
height: 40px;
}
.fundo img{
    height:100%;
    bottom: 0.1px;
    left: 17%;
    position:absolute;
    display: flex;
    justify-self: center;
    align-items: center;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    position:relative;
    justify-content: center;
    top: 150px;
    right: 25%;
}
.attribution a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attribution a:hover{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #f152c9;
}