*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #674bb1;
    max-width: 100%;
    width: 900px;
}
.logo {
display: flex;
position: relative;
top: 70px;
left: 35px;
}
.primeiro img{
    height:100%;
    bottom: 0.1px;
    left: 17%;
    position:absolute;
    display: flex;
    justify-self: center;
    align-items: center;
}
footer{
    display: flex;
    position:relative;
    justify-content: center;
    top: 510px;
    right: 30%;
}
.attribution a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attribution a:hover{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #f152c9;
}