@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, sans-serif;
    background-color:  #674bb1;
    max-width: 100%;justify-content: center;
    align-items: center;
    width: 900px;
}
.fundo-mobile img{
    display: none;
}
.logo{
    display: flex;
    position: relative;
    top: 40px;
}
section{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 106px;
  left: 210px;
  gap: 40px;
  z-index: 1;
}
 #desktop{
    display: flex;
    position: relative;
    right: 27px;
    width: 550px;
    z-index: 1;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  bottom: 30px;
  gap: 24px;
  width: 500px;
  z-index: 1;
}
 h1{
    width: 360px;
    color: white;
    margin: 0;
    font-weight: 400;
}
.Sobre{
    color: white;
    width: 490px;
}
 .btn1{
    display: inline-block;
    background-color: white;
    border-color: white;
    box-shadow:1px 1px 10px black;
    color: #674bb1;
    padding: 10px 40px;
    border-radius: 50px;
}
.btn1:hover{
    display: inline-block;
    background-color:#ab4fc4;
    border-color:#ab4fc4;
    box-shadow:1px 1px 10px black;
    color: white;
    padding: 10px 35px;
    border-radius: 50px;
}
.logo {
display: flex;
position: relative;
bottom: 480px;
left: 80px;
height: 40px;
}
.fundo img{
    height:100%;
    bottom: 0.1px;
    left:50px;
    position:absolute;
    display: flex;
    justify-self: center;
    align-items: center;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    position:relative;
    justify-content: center;
    bottom: 12px;
    right: 25%;
}
.attribution a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attribution a:hover{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #f152c9;
}
@media  (max-width:768px) {
    body{
        max-width: 100%;
        width: auto;
    }
    .fundo img{
        display: none;
    }
    .fundo-mobile img{
        display: block;
        width: 430px;
        position: absolute;
        left: 5px;
        bottom: 470px;
}
.logo{
    display: flex;
    position: relative;
    top: 15px;
    left: 30px;
}
#desktop{
    display: flex;
    position: relative;
    width: 340px;
    right: 40px;
    bottom: 27px;
}
section{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
}
.container{
    display: flex;
    position: relative;
    top: 20px;
}
h1{
    text-align: center;
     display: flex;
    position: relative;
    left: 25px;
}
.Sobre{
    text-align: center;
    line-height: 1.0em;
    width: 420px;
    letter-spacing: 2px;
}
.btn1{
    padding: 20px 100px;
     display: flex;
    position: relative;
    left: 85px;
    font-weight: bolder;
}
.attribution{
    display: none;
}
}