*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #674bb1;
    max-width: 100%;justify-content: center;
    align-items: center;
    width: 900px;
}
section{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 145px;
  left: 310px;
  gap: 40px;
  z-index: 1;
}
 #descktop{
    display: flex;
    width: 500px;
    z-index: 1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 500px;
  z-index: 1;
}
 h1{
    width: 360px;
    color: white;
    margin: 0;
}
.Sobre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 490px;
}
 .btn1{
    display: inline-block;
    background-color: white;
    border-color: white;
    box-shadow:1px 1px 10px black;
    color: #674bb1;
    padding: 10px 35px;
    border-radius: 50px;
}
.btn1:hover{
    display: inline-block;
    background-color:#ab4fc4;
    border-color:#ab4fc4;
    box-shadow:1px 1px 10px black;
    color: white;
    padding: 10px 35px;
    border-radius: 50px;
}
.logo {
display: flex;
position: relative;
bottom: 480px;
left: 190px;
height: 40px;
}
.fundo img{
    height:100%;
    bottom: 0.1px;
    left: 100px;
    position:absolute;
    display: flex;
    justify-self: center;
    align-items: center;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    position:relative;
    justify-content: center;
    bottom: 12px;
    right: 25%;
}
.attribution a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attribution a:hover{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #f152c9;
}